
h2{
  color: gray;
}

body{
    font-family: "Calibri Light";
}
.header{
    float:top;
    min-height: 100px;
    background: #0091AC;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.content{
    float:top;

    display: flex;
    flex-direction: row;
    min-height:calc(100vh - 50px);
}

.footer {
    min-height: 70px;
    background-color: #f7f6f6;
}

.profile {

    background-color: #ebebeb;
    float:left;
    width: 350px;
    min-height:calc(100vh - 50px);
}

.strip {

    border-width: 0px 1px 0px 1px;
    float:left;
    width: 650px;
    min-height:calc(100vh - 81px);
}

.search {

    float:left;
    margin-left: 100px;
    width: 270px;
    min-height:calc(100vh - 50px);
}
.normalize{
    padding: 0;
    margin: 0;
}
.top-left-avatar{
    margin-left:10px;
    margin-top:3px;
}
.top-left-avatar img{
    cursor: pointer;
}
.logo{
    float: left;
    margin-left: 25%;
    margin-top:2px;
}
.logo{
    cursor: pointer;
}
.add-photo{
    float: left;
    margin-left: 5%;
}
.add-photo{
    cursor: pointer;
}
.border-type {

}

.log-out{
    float: left;
    margin-left:48vw;
    margin-top: 2px;
}
.log-out img{
    cursor: pointer;
}

.avatar-place {
    width: 250px;
    height: 330px;
    margin-left: 11%;
    margin-top: 20px;
    font-size: 13px;
}

.avatar {
    flex-direction: row;
    margin-left: 50px;
    margin-top: 70px;
}
.basket-icon {
    margin-top:10px;

}

.post {
    width: 580px;
    height: 190px;
    background-color: #f8f8f8   ;
    margin-top:55px;
    margin-left: 85px;
}

.photo-place{
    float:top;
    margin-left: 20px;
    margin-top:5px;
    width: 440px;
}

.author-pic{
    float: left;
    margin-left: 10px;
    margin-top: 13px;
    height: 100px;
    width: 100px;
}

.h3{
    alignment: left;
    font-size: 10px;
}

.post-name{
    float: bottom;
    margin-left: 12px;
    margin-top: 21px;
    height: 15px;
    font-size: 8px;
}

.post-time{
    float: bottom;
    margin-top: 10px;
    height: 10px;
    font-size: 6px;
    margin-left: 12px;
    color: gray;
}

.post img{
    cursor: pointer;
    margin-right: 20px;
    margin-top:3px;
}
.post-name i{
    display: inline-block;
    float: right;
    font-size:20px;
    margin-right:20px;
    color: grey;
}

.post-time h1{
    font-size: 15px;
}

.post-description{
    float: left;
    margin-left: 20px;
    width: 440px;
    font-size: 8px;
}
.post-bottom{

    float:bottom;
    margin-bottom: 370px;
    margin-left: 20px;
}
.post-hash{
    float: left;
    font-size: 8px;
    width: 300px;
    color: #595959;
}
.like-info{
    float: left;
    height: 40px;
    margin-left:80px;
}
.like-amount{
    float: left;
    color: #3e403d;
    font-size: 9px;
}
.like-icon{
    cursor: pointer;
    float:left;
    margin-top:15px;
    color: red;
    height: 30px;
    width: 30px;
    border-width: 2px 2px 2px 2px;

}
.strip input{
    font-family: "Comic Sans MS";
    width: 150px;
    height: 40px;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search-block{
    float:left;
    margin-top: 50px;
    width: 250px;
    height: 400px;
    margin-left: 10%;
    background-color: #f8f8f8;
}
.search-head{
    float:left;
    font-size: 14px;
    width:100%;
    font-family: Arial;
    color: #3e403d;
    height: 60px;
    background-color: #f7f6f6;
}
.filter-pic{
    float: left;
    margin-left: 50%;
    margin-top: 20px;
}
.search-head i{
    color: grey;
    font-size: 30px;
}
.search-head h1{
    margin-left: 13%;
}


.search-body h3{
    float: top;
    margin-left: 13%;
}
.search-body input{
    border-style: groove;
    margin-left:13%;
    background-color: #f6f6f6;
    color: #a3a09b;
}
.search-body{
    float:left;
    margin-top: 8px;
}
.filter{
    border-style: groove;
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-left:13%;
    font-size: 14px;
}
.input-date input{
    display: inline-block;
    width: 60px;
}
.input-date i{
    font-size:24px;
}
.footer h1,h2,h3{
    font-size: 15px;
    margin-top: 20px;
    color:gray;
}
.footer h1{
    float:left;
    margin-left: 15px;
}
.footer h2{
    float:left;
    margin-left: 30px;
}
.footer h3{
    float:right;
    margin-right: 30px;
}



.menu-element{
    float:left;
    margin-left: 6%;
}

.top-panel-logo{
    margin-left:5%;
}

.top-panel-labels{
    margin-left:30%;
}

.menu{
    background: #03A4C2;
    float:top;
    width:90%;
    margin-top:20px;
    margin-left: 5%;
    height: 100px;
}

.recommendations{
    width: 20%;
    height:500px;
    margin-left: 4%;
    margin-top: 50px;
    background: #f8f8f8;
}

.recommendation-pic{
    width: 150px;
    height: 200px;
    margin-top:10px;
    margin-left:25%;
}

.menu h1{
    font-family: "Segoe UI";
    font-size: 35px;
    margin-top:30px;
    color: #f6f6f6;
}

.top-panel-about h1{
    font-family: "Segoe UI";
    font-size: 30px;
    color: #f6f6f6;
    float:left;
    margin-left:50px;

}

.top-panel-contacts h1{
    font-family: "Segoe UI";
    font-size: 30px;
    color: #f6f6f6;
    float:left;
    margin-left:550px;
}